
/*dialog*/

.dialogbox {
  position: absolute;
  z-index: 101;
  border-radius: 5px;
  border: 8px solid #8e8e8e;
  border-color: rgba(0, 0, 0, .2);
}
.dialogboxTitle {
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 50px 10px 20px;
  font-size: 18px;
  color: #d9534f;
  background-color: #f5f5f5;
  cursor: move;
  font-weight: bold;
}
.dialogboxTitle span, .dialogboxClose, .dialogboxPrev, .dialogboxNext {
  background: url(../img/dialogbox_sprite.png) no-repeat;
}
.dialogboxTitle span {
  display: block;
  width: 25px;
  height: 25px;
  background-position: 0 -62px;
  margin: auto;
}
.dialogboxBody {
  padding: 0;
  background: #fff;
  min-width: 200px;
}
.dialogboxClose {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.dialogboxClose:hover {
  background-position: 0 -30px;
}
.dialogboxOverlay {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  z-index: 100;
}
.dialogTips {
  text-align: center;
  font-size: 16px;
  padding: 20px 50px;
  min-width: 200px;
}
.dialogTips img {
  vertical-align: middle;
  margin-right: 10px;
}
.dialogTopTips {
  padding: 5px 20px;
  background-color: #f1f1f1;
}
.dialogConfirm {
  padding: 10px 50px;
  text-align: center;
  border-top: 1px solid #ddd;
}
.dialogConfirm .button {
  margin: 0 15px;
}
.dialogLoading {
  background: url(../img/loading_small.gif) no-repeat 50% 50%;
  height: 50px;
  width: 50px;
  margin: auto;
}
.dialogboxIframe .dialogboxBody {
  padding: 0;
}
.dialogPrompt {
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 8px 15px;
  background-color: #000;
  background-color: rgba(0, 0, 0, .8);
  color: #fff;
  border-radius: 5px;
}

/*button*/

.button-default, .button-white, .button-disabled {
  border: 1px solid #2e6da4;
  border-radius: 5px;
  background-color: #2e6da4;
  -webkit-transition: all .5s;
  transition: all .5s;
  color: black;
  display: inline-block;
  padding: 0px 15px;
  width:80px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
}
.button-default:hover {
  color: #fff;
  background-color: #1e7ab7;
  border-color: #1e7ab7;
}
.button-disabled, .button-disabled:hover {
  background: #ccc;
  color: #fff;
  border-color: #ccc;
  cursor: default;
}
.button-white {
  border-color: #ddd;
  background: gray;
  color: #333;
}
.button-white:hover {
  background: #ddd;
  color: #333;
}
