td.fixed {
	background-color : #e6e3e3;
}

menu-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-header ul li {
    float: left;
    list-style: none;
}

.menu-header ul li a {
    display: block;
    color: 01192d;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.menu-header ul li a:hover {
    background-color: #111111;
    text-decoration: none;
}

.menu-header {
	float: right;
}

.pagination>li:last-child {
	margin-right: 0;
}

.pagination>li {
    display: inline;
    float: left;
    margin-right: 3px;
}

.pagination>li select option {
	text-align:center;
}

.pagination>li a {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:15px;
}
.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    background-color: #f2f2f2;
    color:#d0d0d0;
}

.page_content, .div-bottom {
	padding: 20px;
}

.order_table tr td, .order_table th td{
	padding: 10px;
}

textarea.description {
	resize: vertical;
	height: 80px;
}


a.myAction {
	padding: 5px;
	cursor: pointer;
}

.row {
	padding-top: 10px;
}

.message {
	color: red;
	text-align: center;
}

.waiting {
	cursor: wait;
	top: 0px;
	left: 0px;
	position: absolute;
	overflow: hidden;
	background-color: gray;
	width: 100%;
	z-index: 20000;
}

.left_align {
	text-align: left;
}

.right_align {
	text-align: right;
}

.top_margin_5 {
	margin-top: 5px;
}

.txtCost, .txtQuantity, .txtTotal, .real_price {
	width: 100px
}

.red_text {
	color : red;
}

div.action {
	display: none;
}

.myBtn {
	cursor: pointer;
}

.hiddenAction {
	display: none;
}

.form-control {
	padding: 2px;
}

.small_width {
	width: 50px;
}

.waiting {
	z-index: 1000;
    background-color: while;
    opacity: 0.5;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.noted {
	color: red;
}

.dropdown-menu {
	cursor: pointer;
}

tr:hover > td.myLabel {
	background-color: #a2adbf;
}

.table_container {
	width: 99%;
	margin: 0 auto;
	padding-left: 0px;
	padding-top: 0px;
}

