.menu-header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu-header ul li {
    float: left;
}

.menu-header ul li a {
    display: block;
    color: 01192d;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

.menu-header ul li a:hover {
    background-color: #111111;
    text-decoration: none;
}

.menu-header {
	float: right;
}

