Xin chào anh/chị ${userName},

Chúng tôi nhận được yêu cầu thay đổi mật khẩu của anh/chị trên trang hệ thống .....com.vn

Để xác nhận đây là yêu cầu do chính anh/chị đề xuất, vui lòng nhấn vào link sau để xác nhận và hệ thống sẽ gửi lại cho anh/chị mật khẩu mới.

${url}

Cảm ơn anh/chị.